.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh; 
    width: 30vw;
}

.button {
    background-color: rgba(199, 158, 158, 0.5);
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    opacity: 1; 
    font-size: 20px;
    width: 24vw;
}
.button:hover {
    background-color:  rgba(141, 115, 115, 0.425); /* צבע ורוד גם במצב ריחוף */
    color:black;
}
